<!-- barra de tarefas -->
<ion-tabs id="tabs">
        <!-- alinhamento da barra de tarefas em footer fixada -->
        <ion-tab-bar slot="bottom" id="tabee">
          <!-- ****** os botões estão replicados mudando assim só seu icone e nome  ****** -->
          <!-- botão de redirecionamento restaurantes -->
          <ion-tab-button tab="restaurantes">
            <!-- icone restaurantes -->
            <ion-icon name="restaurant"></ion-icon>
            <!-- nome restaurantes -->
            <ion-label>Restaurantes</ion-label>
          </ion-tab-button>
          <!-- botão de redirecionamento meus pedidos -->
          <ion-tab-button tab="pedidos">
            <ion-icon name="paper"></ion-icon>
            <ion-label>Meus Pedidos</ion-label>
          </ion-tab-button>
          <!-- botão de redirecionamento perfil -->
          <ion-tab-button tab="perfil">
            <ion-icon name="person"></ion-icon>
            <ion-label>Perfil</ion-label>
          </ion-tab-button>
          <!-- botão de redirecionamento ajuda -->
          <ion-tab-button tab="ajuda">
            <ion-icon name="help-circle-outline"></ion-icon>
            <ion-label>Ajuda</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
      <!-- fim barra de tarefas -->