<ion-content style="--background: url(../../assets/imagens/logo-black-two.png);">
<!--inicio da tela de slides-->
  <ion-slides style="height: 100%;width: 100%">
    <ion-slide>
        <img src="../assets/imagens/inicial1.png" style="width:100%;display: block;">
    </ion-slide>
    <ion-slide>
      <img src="../assets/imagens/inicial2.png" style="width:100%;display: block;">
    </ion-slide>
    <ion-slide>
      <img src="../assets/imagens/inicial3.png" style="width:100%;display: block;">
    </ion-slide>
    <ion-slide>
      <ion-button expand="full" color="danger" (click)="start()" style="font-weight: bold" >COMEÇAR</ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>