<ion-content style="--background: url(../../assets/imagens/logo-black.png);" padding>
  <div style="height:500px"></div>
  <!-- fab function para abrir lista de passos com animação -->
  <ion-fab vertical="top" horizontal="start" style="width: 100%;margin-top:30px">
    <!-- botão que abre a lista de passos -->
    <ion-fab-button style="width: 95%;height:60px;--border-radius:10px;">
      <!-- label com seta para baixo com instrução dos passos -->
      <ion-icon name="arrow-round-down"></ion-icon>
      <p style="width:80%;font-weight: bold"> CONFIGURAÇÕES DA CONTA</p>
    </ion-fab-button>
    <!-- passo a passo como list -->
    <ion-fab-list side="bottom"
      style="width: 95%;background-color:white;border:solid 2px #f04141;border-radius: 10px;padding: 10px;position: absolute;left: 0px;top: 10px;z-index: 1000;color:#999;box-shadow: 2px 2px 30px white">
      <!-- label de passos -->
      <ion-label style="font-weight: bold;">Esqueci minha senha</ion-label>
      <br>
      <ion-label>Ao acessar a tela de login, abaixo do campo senha tem a opção “esqueci minha senha”, basta apertar para
        redefinir sua senha a qualquer momento. Será necessário inserir seu endereço de e-mail ou CPF associado à sua
        conta PedeFácil.</ion-label>
      <br>
      <!-- label de passos -->
      <ion-label style="font-weight: bold">Como alterar os dados da minha conta?</ion-label>
      <br>
      <ion-label>Na tela do seu perfil existe a opção “editar”, basta apertar para editar seus dados, tais como CPF,
        NOME e SENHA.</ion-label>
      <br>
      <!-- label de passos -->
      <ion-label style="font-weight: bold;">Como vejo meu histórico de pedidos?</ion-label>
      <br>
      <ion-label>Existe na tela inicial do APP a aba “Pedidos” através dela você tem seu histórico completo de pedidos e
        pagamentos.</ion-label>
      <br>
      <!-- label de passos -->
      <ion-label style="font-weight: bold;">Quero excluir minha conta.</ion-label>
      <br>
      <ion-label>Na tela do seu perfil existe a opção “Excluir conta”, basta apertar para excluir todos seus dados.
      </ion-label>
      <br>
    </ion-fab-list>
  </ion-fab>
  <!-- fim função para abrir lista de passos -->

  <!-- fab function para abrir lista de passos com animação -->
  <ion-fab vertical="top" horizontal="start"
    style="width: 100%;margin-top:130px;position: absolute;left: 10px;top: 0px;z-index: 900">
    <!-- botão que abre a lista de passos -->
    <ion-fab-button style="width: 95%;height:60px;--border-radius:10px;">
      <!-- label com seta para baixo com instrução dos passos -->
      <ion-icon name="arrow-round-down"></ion-icon>
      <p style="width:80%;font-weight: bold"> BÁSICO</p>
    </ion-fab-button>
    <!-- passo a passo como list -->
    <ion-fab-list side="bottom"
      style="width: 95%;background-color:white;border:solid 2px #f04141;border-radius: 10px;padding: 10px;position: absolute;left: 0px;top: 10px;z-index: 1000;color:#999;box-shadow: 2px 2px 30px white">
      <!-- label de passos -->
      <ion-label style="font-weight: bold">O que é o PedeFácil?</ion-label>
      <br>
      <ion-label>O aplicativo móvel PedeFácil foi desenvolvido para que os clientes tenham o tempo de espera reduzido ao
        realizarem um pedido nos comércios alimentícios tais como: restaurantes, sorveterias, lanchonetes entre outros.
      </ion-label>
      <br>
      <!-- label de passos -->
      <ion-label style="font-weight: bold">Como Funciona o PedeFácil?</ion-label>
      <br>
      <ion-label>A aplicação funciona da forma para que todos os clientes utilizem uma ferramenta inteligente,
        eficiente, de fácil usabilidade e entendimento quando manuseada para fazer pedidos. Os pedidos poderão ser
        realizados tanto em balcões ou diretamente das mesas de cada cliente, evitando filas de espera para finalização
        do pedido. Cada cliente terá seus dados cadastrados no sistema, para que a inteligência artificial embarcada no
        software possa analisar e criar sugestões de produtos que possam ser interessantes para o cliente e o
        restaurante.</ion-label>
      <br>
    </ion-fab-list>
  </ion-fab>
  <!-- fim função para abrir lista de passos -->

  <!-- fab function para abrir lista de passos com animação -->
  <ion-fab vertical="top" horizontal="start"
    style="width: 100%;margin-top:220px;position: absolute;left: 10px;top: 0px;z-index: 800">
    <!-- botão que abre a lista de passos -->
    <ion-fab-button style="width: 95%;height:60px;--border-radius:10px;">
      <!-- label com seta para baixo com instrução dos passos -->
      <ion-icon name="arrow-round-down"></ion-icon>
      <p style="width:80%;font-weight: bold"> COMUNIDADE</p>
    </ion-fab-button>
    <!-- passo a passo como list -->
    <ion-fab-list side="bottom"
      style="width: 95%;background-color:white;border:solid 2px #f04141;border-radius: 10px;padding: 10px;position: absolute;left: 0px;top: 10px;z-index: 1000;color:#999;box-shadow: 2px 2px 30px white">
      <!-- label de passos -->
      <ion-label style="font-weight: bold">Quais as diretrizes da comunidade PedeFácil?</ion-label>
      <br>
      <ion-label>Nós do PedeFácil trabalharemos pesado com o marketing nas redes sociais, acreditamos ser o maior meio
        de comunicação Empresa x Consumidor.</ion-label>
      <br>
      <!-- label de passos -->
      <ion-label style="font-weight: bold">Como posso conseguir um cupom de desconto ou promoções?</ion-label>
      <br>
      <ion-label>Junto de nossos parceiros criaremos promoções e cupons para os clientes que preferirem realizar um
        pedido em nosso APP. Os mesmos serão avisados via APP, redes sociais e no próprio estabelecimento cadastrado.
      </ion-label>
      <br>
    </ion-fab-list>
  </ion-fab>
  <!-- fim função para abrir lista de passos -->

  <!-- fab function para abrir lista de passos com animação -->
  <ion-fab vertical="top" horizontal="start"
    style="width: 100%;margin-top:310px;position: absolute;left: 10px;top: 0px;z-index: 700">
    <!-- botão que abre a lista de passos -->
    <ion-fab-button style="width: 95%;height:60px;--border-radius:10px;">
      <!-- label com seta para baixo com instrução dos passos -->
      <ion-icon name="arrow-round-down"></ion-icon>
      <p style="width:80%;font-weight: bold"> OUTROS</p>
    </ion-fab-button>
    <!-- passo a passo como list -->
    <ion-fab-list side="bottom"
      style="width: 95%;background-color:white;border:solid 2px #f04141;border-radius: 10px;padding: 10px;position: absolute;left: 0px;top: 10px;z-index: 1000;color:#999;box-shadow: 2px 2px 30px white">
      <!-- label de passos -->
      <ion-label style="font-weight: bold">Como faço para integrar o App PedeFácil no meu restaurante?</ion-label>
      <br>
      <ion-label>De maneira simples, após entrar em contato com a equipe do PedeFácil (11) 9999-9999, será efetuado o
        cadastro necessário do estabelecimento, gerando a integração do APP no local.</ion-label>
      <br>
    </ion-fab-list>
  </ion-fab>
  <!-- fim função para abrir lista de passos -->
</ion-content>